# Ignore everything
*

# But not these files.
!CLAUDE.md
!.gitignore
!.gitconfig
!.gitmodules
!README.md
!.editorconfig
!*.env
!.prettierrc
!.prettierignore
!package.json
!pnpm-workspace.yaml
!.nvmrc
!.ruby-version
!.python-version
!.pre-commit-config.yaml
!.rubocop.yml
!requirements.txt
!Gemfile
!ecosystem.config.js
!playbook.yml
!.p10k.zsh
!crates.yml
!flatpaks.yml
!eslint.config.mts
!.zprofile
!.zlogout
!.zlogin
!.zshrc
!.zshenv
!.hushlogin
!.last_pwd
!biome.json
!arty.yml

!/.github/
!/.github/**

!.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
*.log*
*.db*
*.vscdb*
*.sqlite*
*.bnk*
