# Ignore everything
*

# But not these files.
!CLAUDE.md
!.claude.json
!.gitignore
!.gitconfig
!.gitmodules
!README.md
!.editorconfig
!*.env
!.prettierrc
!.prettierignore
!package.json
!pnpm-workspace.yaml
!.nvmrc
!.ruby-version
!.python-version
!.pre-commit-config.yaml
!.rubocop.yml
!requirements.txt
!Gemfile
!ecosystem.config.js
!playbook.yml
!.p10k.zsh
!crates.yml
!flatpaks.yml
!eslint.config.mts
!.zprofile
!.zlogout
!.zlogin
!.zshrc
!.zshenv
!.hushlogin
!.last_pwd

!/.github/
!/.github/**

!/.init/
!/.init/**

!/.oh-my-zsh/
!/.oh-my-zsh/**

!/Bilder/
!/Bilder/**

!/Videos/
!/Videos/**

!/Musik/
!/Musik/**

!/Apps/
!/Apps/**
/Apps/**/*
!/Apps/claude-desktop-debian/
!/Apps/claude-desktop-debian/**

!/.local/
!/.local/**
/.local/**/*
!/.local/share/
!/.local/share/**
/.local/share/**/*
!/.local/share/icons/
!/.local/share/icons/**
!/.local/share/plasma/
!/.local/share/plasma/**
!/.local/share/wallpapers/
!/.local/share/wallpapers/**
!/.local/share/fonts/
!/.local/share/fonts/**
/.local/share/fonts/**/*
!/.local/share/fonts/notocoloremoji-regular/
!/.local/share/fonts/notocoloremoji-regular/**

!/.config/
!/.config/**
/.config/**/*
!/.config/Claude/
!/.config/Claude/claude_desktop_config.json

!/.ssh/
!/.ssh/config
!/.ssh/environment

!/.nvm/
!/.nvm/**

!/.rbenv/
!/.rbenv/**

!/.pyenv/
!/.pyenv/**

!.vscode/
!.vscode/settings.json
!.vscode/tasks.json

!/Projects/
!/Projects/**
/Projects/**/*
!/Projects/kompose/
!/Projects/kompose/**
!/Projects/game-icons/
!/Projects/game-icons/**
!/Projects/pivoine.art/
!/Projects/pivoine.art/**
!/Projects/sexy.pivoine.art/
!/Projects/sexy.pivoine.art/**

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
*.log*
*.db*
*.vscdb*
*.sqlite*
*.bnk*